/*utils*/
.hidden {
    display: none;
    visibility: hidden;
}

/*end utils*/
/*modal css*/
.content-loading {
    text-align: center;
    padding: 20px;
}

.select2 {
    width: 100% !important;
}

/*\end modal css*/
form div.required label.control-label:after {
    content: " * ";
    color: red;
}

.ui-datepicker, .bootstrap-timepicker-widget.dropdown-menu {
    z-index: 1050 !important;
}

.well-light {
    background-color: #fff !important;
}

.default-profile-photo {
    width: 150px;
    height: auto;
}

/*fine uploader*/
.qq-upload-button {
    width: 100% !important;
}

/*end fine uploader*/

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
}
#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
}

#scrollUp a{
    text-decoration: none;
}